@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
@import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);
@import url(https://fonts.googleapis.com/earlyaccess/thabit.css);

html {
    min-height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Droid Arabic Kufi', sans-serif;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 !important;

}

img {
    max-width: 100%;
    height: auto;

}

.navbar {

    display: flex;
    z-index: 3;

}

.nav-brand-container{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 70px ;
    height: 70px ;
    background-color: #fafafa !important;
    border-radius: 50%;
    text-align: center;
}

.navbar-brand {
   display: inline-block !important;
   margin:auto;
   margin-top:5%;
   padding: 0 ;

}


.navbar-brand img {
    height: 70px;
    width: 70px;  
    border-radius: 50%;

}
nav a {
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;

}


.navbar-collapse li {
    margin: 0;
    margin-left: 4%;
    margin-right: 4%;
    width: 160px;
}


.shape {
    width: 100%;
    margin: 0 auto;
}

.shape1 {
    width: 70%;
    margin: 0 auto;
    margin-top: -100px;
    float: right;
}


.top {
    height:0;
    /* border-width: 180px 2000px 0px 0px; */
    border-width: 150px 0px 0px 0px;
    border-left-width: 300px;
    border-right-width: 0px;
    border-style: solid;
    /* background-color: red; */
    border-color: #25598D transparent #25598D transparent;

}

.bottom {
    height: 50px;
    background-color: #25598D;

}


.shape1 h1 {
    text-align: center;
    color: white;
    font-size: 250% !important;
    position: absolute;
    margin-top:-2%;
    left: 50%;
    transform: translateX(-50%);
 
}

.shape1 h2 {
    text-align: center;
    color: white;
    font-size: 200%;
    position: absolute;
    margin-top:3%;
    left: 50%;
    transform: translateX(-50%);
 
}


.news-cards-container {
    margin-left: 5%;
    padding: 0 !important;
}

.defer-news-container {
    margin-top: -2%;
    margin-left: 5%;
    padding: 0 !important;
    max-height: 1300px;

}

.news-cards-container .card {
    text-align: right;
    font-family: 'Droid Arabic Kufi', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.news-cards-container .card-header {
    border-width: 2px !important;
    border-color: #25598D !important;
}

.btn-cust {
    font-family: Raleway-SemiBold !important;
    font-size: 20px !important;
    letter-spacing: 1px !important;
    line-height: 15px !important;
    border-radius: 40px !important;
    transition: all 0.3s ease 0s !important;
    color: white !important;
    background-color: #25598D !important;
    width: 100% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);


}

.btn-cust:hover {
    color: #FFF !important;
    background: #2E93F6 !important;

}

.btn-fb {
    margin: 5%;
    margin-bottom: 0;
    background-color: rgb(59, 89, 152) !important;
    color: #FFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.btn-fb:hover {
    background-color: rgb(139, 157, 195) !important;

}

.btn-tw {
    margin: 5%;
    margin-bottom: 0;
    background-color: rgb(56, 161, 243) !important;
    color: #FFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.btn-tw:hover {
    background-color: rgb(56, 121, 253) !important;
}

.btn-yt {
    margin: 5%;
    margin-bottom: 0;
    background-color: rgb(199, 22, 16) !important;
    color: #FFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.btn-yt:hover {
    background-color: rgb(169, 22, 16) !important;
}

.btn-gplus {
    margin: 5%;
    margin-bottom: 0;
    background-color: rgb(212, 70, 56) !important;
    color: #FFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.btn-gplus:hover {
    background-color: rgb(178, 49, 33) !important;
}

.btn-email {
    margin: 5%;
    margin-bottom: 5%;
    background-color: rgb(155, 174, 200) !important;
    color: #FFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.btn-email:hover {
    background-color: rgb(217, 225, 232) !important;
}

.btn-ins {
    margin: 5%;
    background-color: rgb(195, 42, 163) !important;
    color: #FFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.btn-ins:hover {
    background-color: rgb(114, 50, 189) !important;
}



.card-header h3 {
    font-family: 'Droid Arabic Kufi',
        sans-serif;
    color: #25598D;
    font-size: 90%;
    font-weight: bold;

}

.card-header h5 {
    font-family: 'Droid Arabic Kufi',
        sans-serif;
    font-size: 70%;

}

.card-header h6 {
    font-family: 'Droid Arabic Kufi',
        sans-serif;
    font-size: 50%;

}

.card-footer p {
    font-family: 'scheherazade';
    font-size: 130%;

    line-height: 20pt;

}

.defer-news-container .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.defer-news-container .card:hover {
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);
}



/**********************************************/
.card-section {

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 2px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    padding: 0 !important;
    margin-bottom: 5%;
}
.card-section:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3),0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.card-section div {
    padding: 4% 10%;
}

.card-section .row {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

}



.one {

    width: 100%;
    height: 100%;
    padding-right: 40% !important;
    padding-top: 2%;
    text-align: right;
    padding-bottom: 0 !important;
    max-height: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;


}
.button {
    float: left;
    position: relative;
    appearance: none;
    background: #25598D;
    text-decoration: none;
    padding: 0.5em 2em;
    margin-bottom: 10%;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

span {
    position: relative;
}

.card-section h3 {

    text-align: right;
    font-size: 150%;
    margin-right: 5%;
    width: 100%;
    font-family: "droidarabicnaskh" !important;
    font-weight: bolder;
}

.card-section h1 {
    text-align: right;
    font-size: 160%;
    margin-right: 5%;
    width: 100%;
    color: #25598D;
    font-family: "droidarabicnaskh" !important;

}

.card-section h2 {
    text-align: right !important;
    font-size: 100%;
    color: gray;
    margin-right: 5%;
    width: 100%;
    font-family: "droidarabicnaskh" !important;
    font-style: initial;
}

.card-section p {
    text-align: right !important;
    font-size: 150%;
    margin-right: 5%;
    width: 100%;
    font-family: "scheherazade" !important;
    line-height: 22pt;
    margin-bottom: 0;
    padding: 0;

}

.read-more {
    font-family: "Raleway-SemiBold" !important;
    font-size: 20px !important;
    letter-spacing: 1px !important;
    line-height: 15px !important;
    border-radius: 50px !important;
    transition: all 0.3s ease 0s !important;
    color: white !important;
    background-color: #25598D !important;
    border: #25598D!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.read-more:hover {
    color: #FFF !important;
    background: #2E93F6 !important;

}

/**************************************/
@media (max-width:75rem) {
    
    .shape1{width:55%;}
    .shape1 h1 {  font-size: 243%; margin-top:-35px;}
    .shape1 h2 {font-size: 200%; margin-top:15px;}
    .card-section h3 {font-size: 140%; margin-right: 2.5%;}
    .card-section h1 {font-size: 150%;margin-right:2.5%;}
    .card-section h2 {font-size: 90%;margin-right: 2.5%;}
    /* #ghadje {font-size: 140% !important;  margin-right: 2.5% !important;} */

}


/**************************************/
@media (max-width:48rem) {
    .shape1{width:45%;}
    .shape1 h1 {  font-size: 180%; margin-top:-40px;}
    .shape1 h2 {font-size: 150%; margin-top:0px;}
    .card-section h3 {font-size: 130%; margin-right: 2%;}
    .card-section h1 {font-size: 140%;margin-right:2%;}
    .card-section h2 {font-size: 80%;margin-right: 2%;}

}

/**************************************/
@media (max-width:36rem) {
    .shape1{width:45%;}
    .shape1 h1 {  font-size: 130%; margin-top:-45px;}
    .shape1 h2 {font-size: 110%; margin-top:-10px;}
    .card-section h3 {font-size: 120%}
    .card-section h1 {font-size: 130%}
    .card-section h2 {font-size: 70%}
    
}

/*********for phones**************/
@media (max-width:26rem) {

    .shape1{float:left;width:45%;}
    .top{border-color: #f2f2f2 transparent #f2f2f2 transparent !important;}
    .bottom{ background-color: #f2f2f2 }
    .shape1 h1 {  font-size: 110%; margin-top:-45px;color:#25598D }
    .shape1 h2 {font-size: 100%; margin-top:-10px;color:#25598D}
    .card-section h3 {font-size: 100%;margin-right:10%}
    .card-section h1 {font-size: 110%;margin-right:10%}
    .card-section h2 {font-size: 50%;margin-right:10%}
    
}