.header>div>h3{
    font-size:40px;
}
.header>div>h4{
    font-size:35px;
}

.header .title{
    text-align: center;
    font-family: "Alarabiya Font",'Segoe UI', Tahoma, Geneva, Verdana,sans-serif !important;

}
.post-header>h5>span:first-child{
    padding: 5px;
    border-radius: 4px;
    color:white;
    font-family: "Alarabiya Font",'Segoe UI', Tahoma, Geneva, Verdana,sans-serif !important;

}
.post-header>h5>span:nth-child(2){
    padding: 5px;
    margin-right: 5px;
    color:grey;
    font-family: "Alarabiya Font",'Segoe UI', Tahoma, Geneva, Verdana,sans-serif !important;

}
.post-image{
    width: 100%;
    height: 270px;
    margin-top: 25px;
    border-radius: 4px;
}
.mt-3{
    margin-left: 15px;
    margin-right: 15px !important;
}
.post-thumbnail{
    float:right;
}
.post-title>h2{
    margin-top:20px;
    margin-bottom:20px;
    font-family: "Alarabiya Font",'Segoe UI', Tahoma, Geneva, Verdana,sans-serif !important;

}
.parallax {
    /* The image used */
    background-image: url('/images/ff.png');
    margin-top: 50px;

    /* Full height */
    height: 100%;
    width:100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}
.post-summary{
    margin-top:10px;
    margin-bottom:10px;
    font-family: "Alarabiya Font",'Segoe UI', Tahoma, Geneva, Verdana,sans-serif !important;

}
.post-summary>p{
    color: #444444;
    font-weight: 400;
    text-align: right;
    font-size: 12pt;
    margin: 0;
    margin-bottom: 15px;
    line-height: 29px;
    height: 87px;
    overflow: hidden;
}
.btn-light{
    background: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin-top:10px;
    font-family: "Alarabiya Font",'Segoe UI', Tahoma, Geneva, Verdana,sans-serif !important;

}

.post-content{
    text-align:right;
    display:inline-block;
    margin-top:30px;

}
.carousel-image{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
.slider-post-content{
    width: 100%;
}
.slider-post-content{
    width: 100%;
    overflow: visible;
    z-index: 9999;
    position: relative;

    padding-top:-50px

}
.floar-cat {
    margin-bottom: 20px;
}
.float-clear {
    width: 100%;
    float: right;
}
.slider-post-category {
    background: url('images/post-category.png');
    text-align: center;
    color: #fff;
    font-size: 12pt;
    background-size: 100% 100%;
    padding: 8px 15px;
    padding-right: 20px;
    margin-bottom: 0px;
    float: right;
    font-family: "Alarabiya Font",'Segoe UI', Tahoma, Geneva, Verdana,sans-serif !important;
}
.slider-post-date {
    direction: rtl;
    color: #fff;
    font-size: 12pt;
    margin-right: 15px;
    float: right;
    margin-top: 10px;
    font-family: "Alarabiya Font",'Segoe UI', Tahoma, Geneva, Verdana,sans-serif !important;
}
@media screen and (max-width: 992px){
    .slider-post-title {
        font-size: 28pt;
        line-height: 50px;
    }
}
.slider-post-title {
    margin: 0;
    color: #fff;
    font-weight: bold;
    text-align: right;
    font-size: 31pt;
    margin-top: 0px;
    line-height: 60px;
    direction: rtl;
    font-family: "Alarabiya Font",'Segoe UI', Tahoma, Geneva, Verdana,sans-serif !important;
}
.carousel-caption{
    top:230px
}

@media screen and (max-width: 992px){
    .slider-post-date {
        position: relative;

        top: 0px;
        margin-top: 4px;
    }
}

@media screen and (max-width: 992px){
    .slider-post-category {
        font-size: 10pt;
        padding: 5px 15px;
        padding-right: 20px;
    }
}
.slider-post-story {
    color: #fff;
    text-align: right;
    font-weight: 600;
    font-size: 12pt;
    line-height: 35px;
    margin-top: 20px;
    font-family: "Alarabiya Font",'Segoe UI', Tahoma, Geneva, Verdana,sans-serif !important;
    direction: rtl;
}
.slider-post-author h3 {
    margin: 0;
    color: #cccccc;
    font-size: 10pt;
    text-align: right;
    float: right;
}
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 992px) {
    .parallax {
        background-attachment: scroll;

    }
}
