@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
@import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);
@import url(https://fonts.googleapis.com/earlyaccess/thabit.css);

html {
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     /*font-family: 'Droid Arabic Kufi' !important;*/
    width: 100%;
    /* background-image: linear-gradient(to bottom, white, white 50%, #25598D 10%, white); */
    background-size: cover;
    background-repeat: no-repeat;
   

}

img {
    max-width: 100%;
    height: auto;

}



.container {
    width: 95%;
    margin: 0 auto;
    text-align: center;


}

.home-bg-img {
    background-image: url(../images/bg.png);
    padding: 16.5em 0;
    width: 100%;
    color: #ffffff;
    position: relative;
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
    /* background-attachment: fixed; */

}

.home-bg-img h1 {
    font-size: 4em;
    margin-top: -10%;
}

.home-bg-img h1 span {
    display: block;
}

/***start***/
/*about us button */ 
.square_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 8px 20px 6px;
    text-decoration: none;
    color: #FFF;
    transition: .4s;
    
}

.square_btn:before{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px ;
   background:#FFF;
   transition: .2s;
}

.square_btn:after{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:0;
   left: 0;
   border-radius: 3px;
   background:#FFF;
   transition: .2s;
}

.square_btn:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
    
}

.square_btn:hover:after {
    top: 3px;
    
}

/**end**/


@media (max-width:55rem) {
    .home-bg-img h1 {
        font-size: 3em;
    }

    .home-bg-img {
        width: 1077em;
    }
}


div.three-cards {
    border-radius: 25px;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.three-cards {

    margin: 2%;
    margin-top: -5%;
    height: 14em;
  

}
.three-cards:hover {

    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.3),
        0 2px 10px 0 rgba(0, 0, 0, 0.20);
 
}
   .middle{
       margin-top:-15% !important;
        
}
.three-cards img {
    display: block;
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}

.three-cards h1 {
    /*font-family: 'droidarabickufi' !important;*/
    font-size: 30px;
    margin-top: 5%;
    display: block;
    width: 100%;
    text-align: center;
     
}


.three-cards h3 {
  /*font-family: 'droidarabickufi' !important;*/
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
      
}
.three-cards a{
    text-decoration: none;
 
}


.three-cards #card1 {
    color: #3F4246;
}

.three-cards #card2 {
    color: #DBA130;
}

.three-cards #card3 {
    color: #25598D;
}


.home-separator-elems {
    /* background-color: blueviolet; */
    margin-top: 7%;
    margin-bottom: 5%;
    text-align: center;
    position:relative;

}

.home-separator-elems h3 {
    /*font-family: 'droidarabickufi' !important; */
    color: #25598D;
    font-size: 130%;
}

.home-separator-elems h1 {
    /*font-family: 'droidarabickufi' !important; */
    font-size: 35px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom:50px !important;
}



.home-separator-elems span {
    stroke: #ffffff;
    border: #ffffff;
    margin-left: 2%;

}

.home-separator-elems p {  text-align: center !important;  }

.home-separator-elems hr {   
    border-width: 2.5px;
    border-color: #25598D;
    width:50px;
    position: absolute;
    margin-top:-40px;
  
    left: 50%;
    transform: translateX(-50%);
}
/************i'm here to center the hr using the align text method *************/

.home-event-2 .card1 {

    text-align: center;
   /* font-family: 'droidarabickufi' !important; */
    max-width: 30rem;
    height: 30em;
    margin: 2%;
    margin-bottom: 7% !important;
    z-index: 2;
    padding-top: 2.5%;
    opacity: .8;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);






}

.home-event-2 .card2 {
    max-width: 35rem;
    height: 35em;
    margin: 2%;
    margin-right: -10%;
    margin-left: -10%;
    padding: 0;
    border-radius: 5px;
    margin-bottom: 7% !important;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);


}



.home-event-2 .card-title{
   font-weight: bolder;
   font-size: 150%;
}

.home-event-2 h5 {
    font-weight: lighter;
    font-size: 120%;
   /* font-family: 'droidarabickufi' !important;*/
    
}

.home-event-3 h2{
    font-size: 150% !important;
    /*font-family: 'droidarabickufi' !important;*/
}


.home-event-3 h4{
    font-size: 70% !important;
    /*font-family: 'droidarabickufi' !important;*/
    font-weight: bold;
}

.home-event-3 h5 {
    font-size: 95%;
    /*font-family: 'droidarabickufi' !important;*/
    font-weight: bold;
    padding-left:5%;
    padding-right: 5%;
    
}

.home-event-3 h6 {
    font-size: 80%;
   /* font-family: 'droidarabickufi' !important;*/
    font-weight: bold;
    
    
    
}

.card2 .card-body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    padding: 0;
    position: relative;
    border-radius: 5px;

}

.color-filter {

    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #25598D;
    opacity: 0.35;
    filter: alpha(opacity=50);
    z-index: -1;
    position: absolute;
    border-radius: 5px;
}

.home-event-3{
    margin-left:10%;
    margin-right: 14%;
}

.home-event-3 .event-card1 {
    text-align: right;
    color: #ffffff;
    max-width: 95%;
    margin-left: 0% !important;
    margin-top: 2%;
    height: 260px;
    max-height: 300px;
    padding: 0;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.home-event-3 .event-card2 {
    text-align: center;
    color: #ffffff;
    max-width: 95%;
    height: 550px;
    max-height: 550px;
    margin-top: 2%;
    right:-15% !important;
    padding: 0;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.home-event-3 .event-card1 .card-title {
    margin-top: 80px;
    margin-right: 5%;
}

.home-event-3 .event-card2 .card-title {
    margin-top: 355px;
    margin-right: 5%;
    font-family: 'Droid Arabic Kufi', Courier, monospace;

}

.home-event-3 a{
    color:#FFF;
    text-decoration: none;

}

.home-event-3 a:hover {
   color:#FFF;
   text-decoration: none;

}

.card-title h3 {
    margin: 0;
    font-size: 190% !important;
    font-weight: lighter !important;
}

.card-title h4 {
    margin: 0;
    font-size: 100%;
}

.card-title h5 {
    margin: 0;
    font-size: 20%;
}

.event-card1 .card-text {
    font-family: 'scheherazade';
    font-size: 120%;
    margin-top: 0;
    margin-right: 5%;
    margin-left: 15%;
    text-align: right;
}

.event-card1 .card-body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    padding: 0;
    position: relative;
}

.event-card1 .card-body:hover .side-filter1 {
    width: 100%;
    opacity: .8;

}

.event-card2 .card-body:hover .side-filter2 {
    height: 100%;
    opacity: .8;

}

.event-card2 .card-body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    padding: 0;
    position: relative;
}


.side-filter1 {
    height: 100%;
    width: 30%;
    right: 0;
    background-color: #25598D;
    opacity: .8;
    filter: alpha(opacity=50);
    z-index: -1;
    position: absolute;
    transition: all .3s ease;
}



.side-filter2 {
    height: 30%;
    width: 100%;
    bottom: 0;
    background-color: #25598D;
    opacity: .8;
    filter: alpha(opacity=50);
    z-index: -1;
    position: absolute;
    transition: all .3s ease;


}

.grid-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 30em;
}

.grid-text {
    background: white;
    text-align: right;
    opacity: .7;
}

.btn-rounded{
    width: 250px;
    border-radius: 50px; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border: 0;
    background-color: #25598D;
    }

/* .card .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 30px 10px 30px 0;
}

.card p {
    padding: 0;
    text-align: right;
    line-height: 22px;
    font-family: 'Droid Arabic Kufi', sans-serif;
}

.card h1 {
    padding: 0;
    font-size: 30px;
}

.card h5 {
    margin-top: 5%;
    padding: 0;
    text-align: cneter;
} */

/* 

@media (min-width: 48rem) {
    

    .middle {
        margin-top: -15%;
    }

    .home-bg-img {
        background-image: url(../images/bg.png);
        padding: 16.5em 0;
        width: 100%;
        color: #ffffff;
        position: relative;
        background-repeat: no-repeat;
        background-size: 105%;
        background-position: center;


    }

}

@media (min-width:10rem) {
  

    .home-bg-img {
        background-image: url(../images/bg.png);
        padding: 16.5em 0;
        width: 100%;
        color: #ffffff;
        position: relative;
        background-repeat: no-repeat;
        background-size: 105%;
        background-position: center;


    }

} */




/**************************************/
@media (max-width:75rem) {
        
    .home-bg-img {   padding: 9.0em 0; }
    .home-bg-img h1 { font-size: 3em; }
    .three-cards { margin-top: -5% !important; }
    .middle {margin-top:-10% !important;}
    .home-separator-elems {margin-top: 4%;}
    .home-separator-elems h1 { font-size: 25px;}
    .home-event-2 .card1 {  max-width: 20rem; height: 20em;}
    .home-event-2 .card2 {  max-width: 25rem;  height: 25em;}
    .home-event-2 .card-title{ font-weight: bolder;font-size: 120%;}
    .home-event-2 h5 {font-weight: bold;font-size: 95%;}
    .home-event-3 h2{font-size: 120% !important;}
    .home-event-3 h5 {font-size: 90%;}


    
}


/**************************************/
@media (max-width:48rem) {
  

     .home-bg-img {padding: 4.0em 0; width: 100%;}
     .home-bg-img h1 { font-size: 2em; margin-top: -5%}
     .three-cards { margin-top: 4% !important; width: 50%;}
     .home-separator-elems {margin-top: 4%;}
     .home-separator-elems h1 { font-size: 20px;}
     .home-event-3 .event-card1 { right:-5% !important;}
     .home-event-3 .event-card2 { right:-5% !important;}
  
}

/**************************************/
@media (max-width:36rem) {

     .home-bg-img { padding: 2.0em 0;}
     .home-bg-img h1 { font-size: 1.5em; margin-top: 4%; margin-bottom: -15%}
     .home-bg-img span { font-size: 1em; margin-top: 2%; margin-bottom: 5% !important}
     .square_btn {padding: 4px 16px 2px;margin-bottom: 10%}
     

 


}


/* 
center-somthing {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */