.navbar {
    display: flex;
    z-index: 3;
    padding-top:10px;
    padding-left:0;
    padding-right:0;
    padding-bottom:0;
}

.nav-item{
    margin-left:0.1% !important;
    margin-right:0.01% !important;
  
}

.nav-link{
    color: black !important;
    text-align: center;
    font-weight: bold !important;
    
}

.navbar-nav {
    width:100%;

}

.navbar-collapse li {
    margin: 0;
    margin-left: 4%;
    margin-right: 4%;
    width: 160px;
   
}

.topnav a:hover {
    border-bottom: 3px solid #25598D;
    width:60%;
    padding-top:0 !important ;
    margin:auto auto;
    margin-top:0 !important;
    
}

.nav-brand-container{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 70px ;
    height: 70px ;
    background-color: #fafafa !important;
    border-radius: 50%;
    text-align: center;
    
}

.navbar-brand {
    display: inline-block !important;
    margin:auto;
    margin-top:5%;
    padding: 0 ;

}



.navbar-brand img {
    height: 70px;
    width: 70px;
    border-radius: 50%;

}


/**************************************/
@media (max-width:75rem) {
   .navbar {    padding-left:25px; padding-bottom:10px;

}
}

