@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
@import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);
@import url(https://fonts.googleapis.com/earlyaccess/thabit.css);

html {
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Droid Arabic Kufi', sans-serif;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

img {
    max-width: 100%;
    height: auto;

}

/* .row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 10%;
    min-height: 70px;
} */
.shape {
    width: 100%;
    margin: 0 auto;
}

.shape1 {
    width: 70%;
    margin: 0 auto;
    margin-top: -100px;
    float: right;
}


.top {
    height: 0;
    /* border-width: 180px 2000px 0px 0px; */
    border-width: 150px 0px 0px 0px;
    border-left-width: 400px;
    border-style: solid;
    border-color: #25598D transparent #25598D transparent;

}

.bottom {
    height: 50px;
    background-color: #25598D;

}

.shape1 h1 {
    color: white;
    font-size: 400%;
    position: absolute;
    left: calc(50% - 80px);
    display: block;
    /* margin-top: -10%; when 200% size */

}


.news-cards-container {
    margin-left: 5%;
    padding: 0 !important;


}

.defer-news-container {
    margin-top: -2%;
    margin-left: 5%;
    padding: 0 !important;
    max-height: 1300px;
}

.news-cards-container .card {
    text-align: right;
    font-family: 'Droid Arabic Kufi', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.news-cards-container .card-header {
    border-width: 2px !important;
    border-color: #25598D !important;

}

.btn-cust {
    font-family: Raleway-SemiBold !important;
    font-size: 20px !important;
    letter-spacing: 1px !important;
    line-height: 15px !important;
    border-radius: 40px !important;
    transition: all 0.3s ease 0s !important;
    color: white !important;
    background-color: #25598D !important;
    width: 100% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.btn-cust:hover {
    color: #FFF !important;
    background: #2E93F6 !important;

}

.btn-fb {
    margin: 5%;
    margin-bottom: 0;
    background-color: rgb(59, 89, 152) !important;
    color: #FFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn-fb:hover {
    background-color: rgb(139, 157, 195) !important;
}

.btn-tw {
    margin: 5%;
    margin-bottom: 0;
    background-color: rgb(56, 161, 243) !important;
    color: #FFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.btn-tw:hover {
    background-color: rgb(56, 121, 253) !important;
}

.btn-yt {
    margin: 5%;
    margin-bottom: 0;
    background-color: rgb(199, 22, 16) !important;
    color: #FFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.btn-yt:hover {
    background-color: rgb(169, 22, 16) !important;
}

.btn-gplus {
    margin: 5%;
    margin-bottom: 0;
    background-color: rgb(212, 70, 56) !important;
    color: #FFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.btn-gplus:hover {
    background-color: rgb(178, 49, 33) !important;
}

.btn-email {
    margin: 5%;
    margin-bottom: 5%;
    background-color: rgb(155, 174, 200) !important;
    color: #FFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.btn-email:hover {
    background-color: rgb(217, 225, 232) !important;
}

.btn-ins {
    margin: 5%;
    background-color: rgb(195, 42, 163) !important;
    color: #FFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.btn-ins:hover {
    background-color: rgb(114, 50, 189) !important;
}



.card-header h3 {
    font-family: 'Droid Arabic Kufi',
        sans-serif;
    color: #25598D;
    font-size: 100%;
    font-weight: bold;

}

.card-header h5 {
    font-family: 'Droid Arabic Kufi',
        sans-serif;
    font-size: 80%;

}

.card-header h6 {
    font-family: 'Droid Arabic Kufi',
        sans-serif;
    font-size: 60%;

}

.card-footer p {
    font-family: 'scheherazade';
    font-size: 180%;

    line-height: 25pt;

}

.defer-news-container .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.defer-news-container .card:hover {
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.2),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);
}