.page-login:before {
  background-image: url('https://scontent-mrs1-1.xx.fbcdn.net/v/t1.15752-9/42996847_712403292452437_6588230135550312448_n.png?_nc_cat=110&oh=868bc52373a2d6e326a246e882a8cfe7&oe=5C1D94A3');
}
.page-login form {
  width: 340px;
  margin: 30px 0;
}
.page-login form a {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .page-login form {
    width: auto;
  }
}
