
    /* Landing page navbar color styling */

        .navbar.solidl {
            background-color:#ffffff;
            color:black;
            transition: all 1s ease 0s;
            box-shadow: 0 0 4px grey;
        }

        .navbar.solidl .navbar-brand {
            color: black;
            transition: color 1s ease 0s;
        }

        .navbar.solidl .navbar-nav > li > a {
            color: black  !important;
            font-weight: bold;
            transition: color 1s ease 0s;
        }

        .nav-link.lp:hover,.dropdown-item.lp:hover{

            color: black !important;

        }

        .dropdown-menu.lp{
            background-color: #ffffff;
            color:black !important;
        }
        .dropdown-item{
            color:black !important;
        }

    /* end of Landing page navbar color styling */
    /* navbar font */

        #nl,#dropdown04{
            color: black !important;
            font-weight: bold;
        }

    /* end of navbar font */

    /* active navbar elment styling */

        .activenav{
            border: 1px solid #ffffff;
            border-radius: 5px;
        }

    /* end of active navbar elment styling */